// Colors
// $darkGrey: #323232;
// $white: #f8f8ff;
// $black: #2f2f2f;
// $blue: #3366cc;

$darkGrey: #e9e9e9;
$white: #1f1f1f;
$black: #e9e9e9;
$blue: #3366cc;


// $backgroundDarker: #252627;
// $backgroundDark: #292a2d;

$backgroundDarker: #e9e9e9;
$backgroundDark: #fefeff;

//Fonts
$fontHeader: 'Fira Mono', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Fira Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;